{% extends "base.html" %}


{% block title %}Nosotros{% endblock title %}


{% block content %}

<div style='text-align:right'>
    <img src="{{STATIC_URL}}web/img/old/nosotros.png" width="143" height="43" border="0" />
</div>

<div align="center" style="font-size:24px;font-weight:bold;margin-top:14px;">Historia del movimiento Scout</div>

<div align="justify" style='width:559px;margin:auto;margin-top:14px'>

    <p><strong>Baden-Powell, </strong>(n. Londres, 22 de febrero de 1857 - m. Nyeri 8 de enero de 1941), fue un actor, pintor, m&uacute;sico, militar, escultor y escritor brit&aacute;nico. Fundador del Movimiento Scout Mundial, particip&oacute; en distintas campa&ntilde;as militares en &Aacute;frica,  en las cuales destac&oacute; y obtuvo gran popularidad entre la poblaci&oacute;n  brit&aacute;nica, especialmente por su heroica direcci&oacute;n en la defensa de Mafeking.  Tras regresar a su isla natal, las publicaciones de sus libros  crecieron se multiplicaron y se convirti&oacute;, as&iacute;, en un destacado autor  en materia de educaci&oacute;n y formaci&oacute;n juvenil. Sus ideas, plasmadas en  &quot;Escultismo para Muchachos&quot; y otras obras, inspiraron a grupos de  j&oacute;venes brit&aacute;nicos a formar <em>patrullas</em>, con lo que se inici&oacute; de manera informal el escultismo.</p>

    <p>Tras su renuncia al ej&eacute;rcito brit&aacute;nico por consejo del Rey, se dedic&oacute; plenamente a la formaci&oacute;n del movimiento scout. Particip&oacute; en actividades por todo el mundo, propagando y asentando las bases del escultismo moderno. Escribi&oacute; una gran cantidad de libros adecuados a las  necesidades del movimiento y a los diferentes niveles de participaci&oacute;n  de los scouts, permitiendo que &eacute;stos, en todo el mundo, tuviesen la  oportunidad de aprender mediante textos especializados para su edad.  Tras obtener diversos premios y reconocimientos, se retir&oacute; con su  esposa a Kenya, donde muri&oacute;. Fue sepultado en Nyeri; su tumba tiene inscrito un mensaje de Baden-Powell para todos los scouts del mundo.</p>

</div>
<div style='width:559px;margin:auto;margin-top:14px'>
    <p>
        <strong>Cronolog&iacute;a Hist&oacute;rica de la Asociaci&oacute;n de Gu&iacute;as y Scouts de Chile:</strong>
    </p>

    <p>
        <strong><em>1909</em></strong>&nbsp; Fundaci&oacute;n de la Asociaci&oacute;n de Boy Scouts de Chile, que dio origen al primer Grupo Scout del pa&iacute;s en el Instituto Nacional.
        <br />
        <br />

        <em><strong>1913</strong></em>&nbsp; Formaci&oacute;n de la primera compa&ntilde;&iacute;a de Gu&iacute;as (Rancagua).
        <br />
        <br />

        <strong><em>1930</em></strong>&nbsp; Formaci&oacute;n del primer Grupo Scout Cat&oacute;lico en Vi&ntilde;a del Mar.
        <br />
        <br />

        <strong><em>1949</em></strong>&nbsp; Se realiza el primer &quot;Curso Preliminar&quot; en Chile, dictado por Salvador Fern&aacute;ndez Beltr&aacute;n, iniciando un proceso de renovaci&oacute;n del M&eacute;todo y Programa.
        <br />
        <br />

        <strong><em>1953</em></strong>&nbsp;  Fundaci&oacute;n de la Asociaci&oacute;n de Girl Guides, que agrup&oacute; a las Compa&ntilde;&iacute;as  existentes en ese momento, las que en su mayor&iacute;a proven&iacute;an de la  Asociaci&oacute;n de Boy Scouts de Chile.
        <br />
        <br />

        <strong><em>1954</em></strong>&nbsp; Fundaci&oacute;n de la Federaci&oacute;n de Scouts Cat&oacute;licos.
        <br />
        <br />

        <strong><em>1967</em></strong>&nbsp; Una parte de la Asociaci&oacute;n de Boy Scouts se separa de &eacute;sta para formar el Movimiento de Reforma Scout.
        <br />
        <br />

        <em><strong>1972</strong></em>&nbsp; El Movimiento de Reforma Scout vuelve a la Asociaci&oacute;n de Boy Scouts y  se consolida el proceso de unidad entre la Asociaci&oacute;n de Boy Scouts de  Chile y la Federaci&oacute;n de Scouts Cat&oacute;licos.
        <br />
        <br />

        <strong><em>1974</em></strong>&nbsp; Se afirma la unidad entre las dos Asociaciones antes nombradas, formando la Asociaci&oacute;n  de Scouts de Chile. Se firma la unidad entre la Rama Femenina de la  Federaci&oacute;n de Scouts Cat&oacute;licos y la Asociaci&oacute;n de Girl Guides de Chile,  dando lugar a la Asociaci&oacute;n de Gu&iacute;as de Chile.
        <br />
        <br />

        <strong><em>1978</em></strong>&nbsp; Finalmente se fusionan la Asociaci&oacute;n de Scouts y la Asociaci&oacute;n de Gu&iacute;as, formando la Asociaci&oacute;n de Gu&iacute;as y Scouts de Chile.
    </p>

    <p>
        Contenidos obtenidos de:<br/>
        <a href="http://www.guiasyscoutschile.cl"><strong>Asociaci&oacute;n de Gu&iacute;as y Scouts de Chile</strong></a><br/>
        <a href="Asociaci&oacute;n de Gu&iacute;as y Scouts de Chile"><strong>Wikipedia</strong></a><br/>
    </p>

</div>


{% endblock content %}