{% extends "base.html" %}


{% block title %}Nosotros{% endblock title %}


{% block content %}

<div style='text-align:right'>
    <img src="{{STATIC_URL}}web/img/old/nosotros.png" width="143" height="43" border="0" />
</div>

<div align="center" style="font-size:24px;font-weight:bold;">ARAVARUA</div>
<div align="center"><em>&quot;despertar del esp&iacute;ritu&quot;</em></div>

<div align="justify" style='width:559px;margin:auto;margin-top:14px'>
    En nuestro grupo perteneciente a la Asociaci&oacute;n de Gu&iacute;as y&nbsp;Scouts&nbsp;de  Chile, participan mas de 250 ni&ntilde;os, en su mayor&iacute;a alumnos del Liceo  Alianza Francesa, con edades que fluct&uacute;an entre los 6 y los 18 a&ntilde;os.  Ellos est&aacute;n distribuidos en diferentes unidades seg&uacute;n las edades. Los  ni&ntilde;os&nbsp;scouts&nbsp;est&aacute;n&nbsp;organizados&nbsp;en grupos de alrededor de 30 personas, a cargo de&nbsp;ex-alumnos de la Alianza, que son los responsables de toda la&nbsp;organizaci&oacute;n.
<br />
<br />
    El&nbsp;funcionamiento&nbsp;general  del grupo consiste en reuniones los s&aacute;bados, donde se realizan  diferentes actividades y juegos. Algunas veces se organizan paseos a  diferentes lugares. Se realizan adem&aacute;s campamentos con todo el grupo,  dos a lo largo del a&ntilde;o, durante un fin de semana cada uno, y un  campamento de verano la segunda quincena de enero, durante 15 d&iacute;as.
</div>



{% endblock content %}