<div class='block menu'>
<ul>
    <li><a href="/">Inicio</a></li>
    <!-- <li><?php echo $html->link('Nosotros', array('controller' =>'', 'action' => ''));?></li>
    <li><?php echo $html->link('Unidades', array('controller' =>'', 'action' => ''));?></li>
    <li><?php echo $html->link('Recursos', array('controller' =>'', 'action' => ''));?></li>
    <li><?php echo $html->link('Fotos', array('controller' =>'', 'action' => ''));?></li>
    <li><?php echo $html->link('Links', array('controller' =>'', 'action' => ''));?></li> -->
</ul>
</div>
