{% extends "base.html" %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}web/css/noticias.css" />
{% endblock extra_head %}


{% block title %}Noticias{% endblock title %}


{% block content %}
<h1 class='titulo'>Novedades</h1>

<!-- <?php $paginator->options(array('url' => $this->passedArgs)); ?> -->

{% for noticia in noticias %}

<div class='noticia_container'><div class='noticia_container_2'><div class='noticia_inner'>
    <div class='noticia_top'>
      <h2 class='noticia_titulo'>{{noticia.titulo}}</h2>
      <p class='noticia_fecha'>{{noticia.creada|date:"d F Y"}}</p>
      </div>
    <div class='noticia_cuerpo'>{% autoescape off %}{{noticia.cuerpo|linebreaksbr}}{% endautoescape %}</div>
    <div class='noticia_autor'>{{noticia.autor}}</div>
</div></div></div>

{% endfor %}

{% with page_obj as paginator %}
{#     {% include "paginator.html" %} #}
{% endwith %}

{% endblock content %}