{% extends "base.html" %}


{% block title %}Recursos{% endblock title %}


{% block content %}

<div style='text-align:right'>
    <img src="{{STATIC_URL}}web/img/old/recursos.png" width="145" height="43" border="0" />
</div>

<div style="width:90%;margin:auto;margin-top:1.5em">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for recurso in recursos %}
                <tr>
                    <td><a href="{{recurso.archivo}}" title="{{recurso.nombre}}">{{recurso.nombre}}</a></td>
                    <td>{{recurso.categoria.nombre}}</td>
                    <td>{{recurso.creado|date:"d F Y"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}